@media only screen and (max-width: 425px) {
    .rounded{
        font-size: 12px !important;
        margin: 2px !important;
    }
  }
  @media only screen and (max-width: 375px) {
    .rounded{
        font-size: 9px !important;
    }
  }
#main{
    padding: 50px;
    margin-top: 10px;
}

.flow-text {
    font-size: 2.68rem !important;
}
.rounded{
    color: #fff;
    border-radius: 25px;
    border: 2px;
    box-shadow: 0 8px 15px 0 rgb(66 117 242 / 25%);
}
#barra_superior{
    width: 100%;
    min-height: 3rem;
    background-color: white;
}
