#main{
    padding: 50px;
}

.flow-text {
    font-size: 2.68rem !important;
}
.rounded{
    color: #fff;
    border-radius: 25px;
    border: 2px;
    box-shadow: 0 8px 15px 0 rgb(66 117 242 / 25%);
}